server/flows.json
[
    {
        "id": "cdbcf4272efad590",
        "type": "tab",
        "label": "EnerSense",
        "disabled": false
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1884",
        "clientid": "nodered_enersense",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "darkTheme": {
                "default": "#1F3864",
                "baseColor": "#1F3864",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            }
        },
        "site": {
            "name": "EnerSense",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "ui_group_live",
        "type": "ui_group",
        "name": "Live Monitor",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui_group_history",
        "type": "ui_group",
        "name": "History & Cost",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui_group_alerts",
        "type": "ui_group",
        "name": "Alerts & Intelligence",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Appliance Control",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "9e185d4b53094b99",
        "type": "ui_group",
        "name": "Live Monitor",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "d90a3b7401b199d5",
        "type": "ui_group",
        "name": "History & Cost",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "54a7931968f59338",
        "type": "ui_group",
        "name": "Alerts & Intelligence",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12"
    },
    {
        "id": "65f92bee268f636e",
        "type": "ui_group",
        "name": "Appliance Control",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "25cd4dd1045a3bc0",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1884",
        "clientid": "nodered_enersense",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "13b736d9f5d23b6e",
        "type": "mqtt in",
        "z": "cdbcf4272efad590",
        "name": "MQTT telemetry",
        "topic": "enersense/+/+/telemetry",
        "qos": "1",
        "datatype": "json",
        "broker": "25cd4dd1045a3bc0",
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ff8268907fe9b974"
            ]
        ]
    },
    {
        "id": "04e65ace8c65c507",
        "type": "mqtt in",
        "z": "cdbcf4272efad590",
        "name": "MQTT aggregate",
        "topic": "enersense/+/+/aggregate",
        "qos": "1",
        "datatype": "json",
        "broker": "25cd4dd1045a3bc0",
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "52f2ba17c0b76444"
            ]
        ]
    },
    {
        "id": "533df559af0c80c2",
        "type": "mqtt in",
        "z": "cdbcf4272efad590",
        "name": "MQTT relay status",
        "topic": "enersense/+/+/relay/status",
        "qos": "1",
        "datatype": "utf8",
        "broker": "25cd4dd1045a3bc0",
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "b1930c3b5599fcba"
            ]
        ]
    },
    {
        "id": "ff8268907fe9b974",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Enrich",
        "func": "const parts = msg.topic.split('/');\nmsg.node_id = parts[1] || 'node_01';\nmsg.appliance_id = parts[2] || 'appliance_01';\nmsg.ts_ms = msg.payload.ts_ms || Date.now();\nif (!msg.payload.P_W) return null;\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "d36536ea08fb706a",
                "2a678d86fba4b420",
                "dff5b91a6ae9f910",
                "3b316f76d501921e",
                "2a461b0dcb99258f",
                "e0fa4134213abf9a",
                "e9fc3ddf38dc6fe9"
            ]
        ]
    },
    {
        "id": "d36536ea08fb706a",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ gauge",
        "func": "msg.payload = Math.round(msg.payload.P_W);\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 40,
        "wires": [
            [
                "1f0e943fdbe142d6"
            ]
        ]
    },
    {
        "id": "2a678d86fba4b420",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ current",
        "func": "msg.payload = msg.payload.I_rms.toFixed(3) + ' A';\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 80,
        "wires": [
            [
                "d710f2e41f95cb04"
            ]
        ]
    },
    {
        "id": "dff5b91a6ae9f910",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ voltage",
        "func": "msg.payload = msg.payload.V_rms.toFixed(1) + ' V';\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "cd87474157cd2a7a"
            ]
        ]
    },
    {
        "id": "3b316f76d501921e",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ chart",
        "func": "msg.payload = msg.payload.P_W;\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "8d5de7a1ef6b4898"
            ]
        ]
    },
    {
        "id": "2a461b0dcb99258f",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Anomaly check",
        "func": "const P = msg.payload.P_W;\nif (P > 2500) {\n  msg.payload = '⚠ ANOMALY: ' + P.toFixed(1) + ' W @ ' + new Date().toLocaleTimeString();\n  return msg;\n}\nif (msg.payload.anomaly) {\n  msg.payload = '⚠ Flagged by ESP32: ' + P.toFixed(1) + ' W @ ' + new Date().toLocaleTimeString();\n  return msg;\n}\nreturn null;",
        "outputs": 1,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "e667f9c20e84a1cc"
            ]
        ]
    },
    {
        "id": "e0fa4134213abf9a",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Daily cost",
        "func": "const TARIFF = 0.180;\nconst key = 'daily_kwh';\nlet daily = flow.get(key) || 0;\nconst prev = flow.get('prev_ewh') || 0;\nconst curr = msg.payload.E_Wh || 0;\nif (curr >= prev) daily += (curr - prev) / 1000.0;\nflow.set(key, daily);\nflow.set('prev_ewh', curr);\n\n// Track hourly kWh for ML lag features\nconst kwh_now = (msg.payload.P_W || 0) / 1000.0;\nlet history = flow.get('kwh_history') || [];\nhistory.push(kwh_now);\nif (history.length > 180) history = history.slice(-180); // keep last 3 min\nflow.set('kwh_history', history);\n\n// Compute lag values (average over last 60 readings per hour slot)\nconst n = history.length;\nflow.set('lag_1h', history.slice(-60).reduce((a, b) => a + b, 0) / Math.min(60, n));\nflow.set('lag_2h', history.slice(-120, -60).reduce((a, b) => a + b, 0) / Math.min(60, n));\nflow.set('lag_3h', history.slice(-180, -120).reduce((a, b) => a + b, 0) / Math.min(60, n));\n\nconst out = msg;\nout.daily_kwh = daily.toFixed(4);\nout.daily_cost = (daily * TARIFF).toFixed(4);\nreturn out;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 240,
        "wires": [
            [
                "d13817e404c76a95",
                "7e81a96fc7719195"
            ]
        ]
    },
    {
        "id": "d13817e404c76a95",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ kWh",
        "func": "msg.payload = msg.daily_kwh + ' kWh';\nreturn msg;",
        "outputs": 1,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "8856d2c5ea9a235a"
            ]
        ]
    },
    {
        "id": "7e81a96fc7719195",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "→ cost",
        "func": "msg.payload = msg.daily_cost + ' TND';\nreturn msg;",
        "outputs": 1,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "92f3feec5debfe88"
            ]
        ]
    },
    {
        "id": "e9fc3ddf38dc6fe9",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "DB write",
        "func": "const d = msg.payload;\nmsg.payload = {\n  ts_ms: msg.ts_ms,\n  node: msg.node_id,\n  appliance: msg.appliance_id,\n  I_rms: d.I_rms || 0,\n  V_rms: d.V_rms || 0,\n  P_W: d.P_W || 0,\n  E_Wh: d.E_Wh || 0,\n  pf: d.pf || 1,\n  relay: d.relay || 'OFF',\n  anomaly: d.anomaly ? 1 : 0\n};\nmsg.url = 'http://127.0.0.1:5051/write/telemetry';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type':'application/json'};\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "0520bcdead271332"
            ]
        ]
    },
    {
        "id": "0520bcdead271332",
        "type": "http request",
        "z": "cdbcf4272efad590",
        "name": "POST SQLite",
        "method": "use",
        "ret": "txt",
        "url": "",
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "52f2ba17c0b76444",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Agg to UI",
        "func": "const d = msg.payload;\nreturn [\n  {...msg, payload: (d.total_kwh || 0).toFixed(4) + ' kWh'},\n  {...msg, payload: (d.cost_tnd  || 0).toFixed(4) + ' TND'}\n];",
        "outputs": 2,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "073061e56e18ca31"
            ],
            [
                "4af43361d9555c9f"
            ]
        ]
    },
    {
        "id": "b1930c3b5599fcba",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Relay to switch",
        "func": "msg.payload = (msg.payload.trim().toUpperCase() === 'ON');\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "0881810ebe98b818"
            ]
        ]
    },
    {
        "id": "d794bf5752ed6cab",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Switch to cmd",
        "func": "msg.payload = msg.payload ? 'ON' : 'OFF';\nreturn msg;",
        "outputs": 1,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "263b89f2b2b96a40"
            ]
        ]
    },
    {
        "id": "263b89f2b2b96a40",
        "type": "mqtt out",
        "z": "cdbcf4272efad590",
        "name": "Relay cmd",
        "topic": "enersense/node_01/appliance_01/relay/cmd",
        "qos": "1",
        "retain": "true",
        "broker": "25cd4dd1045a3bc0",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1c53279026e4fe7",
        "type": "inject",
        "z": "cdbcf4272efad590",
        "name": "Test inject",
        "repeat": "2",
        "once": true,
        "onceDelay": 1,
        "topic": "enersense/node_01/appliance_01/telemetry",
        "payload": "{\"I_rms\":4.23,\"V_rms\":228.5,\"P_W\":966.4,\"E_Wh\":0.268,\"pf\":0.99,\"anomaly\":false,\"relay\":\"OFF\",\"ts_ms\":0}",
        "payloadType": "json",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "ff8268907fe9b974"
            ]
        ]
    },
    {
        "id": "1f0e943fdbe142d6",
        "type": "ui_gauge",
        "z": "cdbcf4272efad590",
        "name": "Power",
        "group": "9e185d4b53094b99",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Power (W)",
        "label": "W",
        "format": "{{value}}",
        "min": "0",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#e60000"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "d710f2e41f95cb04",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "9e185d4b53094b99",
        "order": 2,
        "width": "3",
        "height": "2",
        "name": "Current",
        "label": "Current",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd87474157cd2a7a",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "9e185d4b53094b99",
        "order": 3,
        "width": "3",
        "height": "2",
        "name": "Voltage",
        "label": "Voltage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "8d5de7a1ef6b4898",
        "type": "ui_chart",
        "z": "cdbcf4272efad590",
        "name": "Power chart",
        "group": "9e185d4b53094b99",
        "order": 4,
        "width": "12",
        "height": "6",
        "label": "Power (W)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": "10",
        "removeOlderUnit": "60",
        "colors": [
            "#2E74B5"
        ],
        "outputs": 1,
        "x": 740,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8856d2c5ea9a235a",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "d90a3b7401b199d5",
        "order": 1,
        "width": "3",
        "height": "2",
        "label": "Today (kWh)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "92f3feec5debfe88",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "d90a3b7401b199d5",
        "order": 2,
        "width": "3",
        "height": "2",
        "label": "Today Cost (TND)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "073061e56e18ca31",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "d90a3b7401b199d5",
        "order": 3,
        "width": "3",
        "height": "2",
        "label": "Session (kWh)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "4af43361d9555c9f",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "d90a3b7401b199d5",
        "order": 4,
        "width": "3",
        "height": "2",
        "label": "Session Cost (TND)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "e667f9c20e84a1cc",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "54a7931968f59338",
        "order": 1,
        "width": "12",
        "height": "2",
        "label": "Latest Alert",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "0881810ebe98b818",
        "type": "ui_switch",
        "z": "cdbcf4272efad590",
        "name": "Relay",
        "label": "Appliance Power",
        "group": "65f92bee268f636e",
        "order": 1,
        "width": "4",
        "height": "2",
        "passthru": false,
        "decouple": "false",
        "topic": "relay",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "power",
        "oncolor": "#00b500",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "power",
        "offcolor": "#e60000",
        "animate": true,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "d794bf5752ed6cab"
            ]
        ]
    },
    {
        "id": "f3ddfe433d9b2860",
        "type": "inject",
        "z": "cdbcf4272efad590",
        "name": "Every 5 min forecast",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "72ee6b8936b0db35"
            ]
        ]
    },
    {
        "id": "72ee6b8936b0db35",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Build forecast request",
        "func": "msg.payload = {\n    lag_1h: flow.get('lag_1h') || 0.5,\n    lag_2h: flow.get('lag_2h') || 0.5,\n    lag_3h: flow.get('lag_3h') || 0.5\n};\nmsg.url = 'http://127.0.0.1:5050/forecast';\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "8c26de9b336f8ba0"
            ]
        ]
    },
    {
        "id": "8c26de9b336f8ba0",
        "type": "http request",
        "z": "cdbcf4272efad590",
        "name": "POST /forecast",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 440,
        "wires": [
            [
                "aea4e619c1fd4e12"
            ]
        ]
    },
    {
        "id": "aea4e619c1fd4e12",
        "type": "function",
        "z": "cdbcf4272efad590",
        "name": "Format forecast",
        "func": "if (!msg.payload || !msg.payload.forecast) return null;\nconst lines = msg.payload.forecast.map(f =>\n    `${String(f.hour).padStart(2, '0')}:00  →  ${f.predicted_w} W  (${f.predicted_kwh} kWh)`\n);\nlines.push(`─────────────────────────`);\nlines.push(`Total: ${msg.payload.total_kwh} kWh`);\nmsg.payload = lines.join('\\n');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "d415a56c237c0894"
            ]
        ]
    },
    {
        "id": "d415a56c237c0894",
        "type": "ui_text",
        "z": "cdbcf4272efad590",
        "group": "ui_group_alerts",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "6-Hour Forecast",
        "format": "<pre>{{msg.payload}}</pre>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 440,
        "wires": []
    },
    {
        "id": "80f2d089a44bc5fd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]